<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<a href="/login">log in</a>
<a href="/sign-up">sign up</a>
<br>
<h2>Discover other users</h2>
<div th:each="member : ${members}">
    <a th:href="@{'/userPage/' + ${member.getId()}}">
        <p th:text="${member.username}"></p>
    </a>
</div>
<h2></h2>
</body>
</html>