<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Member Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 th:text="${member.username}"></h1>
<ul th:each="post : ${member.posts}">
    <li th:text="${post.body}"></li>
</ul>
<h2>Follow this member</h2>
<!--<a th:href="@{'/follow/' + ${member.getId()}}">-->
<!--    <button>Follow now</button>-->
<!--</a>-->
<form action="/follow" method="POST">
    <input type="hidden" name="id" th:value="${member.username}">
    <input type="submit" value="follow">
</form>
</body>
</html>