<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<h1>your codefellowship page</h1>
<p th:text="${principal.bio}"></p>
<h2>creat a post</h2>
<!--form-->
<form action="/user/post" method="POST">
    post body <input type="text" name="body">
    <input type="submit">
</form>
<h2>my posts</h2>
<ul th:each="post : ${principal.posts}">
    <li th:text="${post.body}"></li>
</ul>
</body>
</html>